<footer>
    <div class="container">
        <div class="footer_item">
            <span class="footer_main_header">
                Контактная информация
            </span>
        </div>
        <div class="footer_item">
            <span class="footer_header">Email:</span>
            <span class="footer_text_content">henpic@gmail.com</span>
        </div>
        <div class="footer_item">
            <span class="footer_header">Telegram:</span>
            <span class="footer_text_content">@telegaru</span>
        </div>
    </div>
</footer>