<header>
    <div class="container">
        <div class="header_item container_header_logo">
            <span class="header_logo">Here Is You Logo</span>
        </div>
        <div class="header_item container_header_menu">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </div>
        <div class="header_item container_header_search">
            <form action="#" class="search">
                <div class="form_item">
                    <input type="text" name="q" required>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</header>