{% extends "layouts/app.html" %}

{% block content %}
    <section class="content">
        <div class="container" id="gallery">
            {% for key, img in picLinks %}  
                <img src="{{ img }}" 
                    alt="Title here" 
                    title="Or here(more priority)" 
                    data-desc="some description" 
                    data-category="image category here" 
                    data-fullsrc="{{ img }}"
                >
            {% endfor %}
        </div>
    </section>
{% endblock %}