* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

body {
    background-color: #030303;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 1rem;
    background-color: #9B1003;
}

header .container {
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    align-items: center;
}

header .container_header_logo {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 22px;
}

header .container_header_menu {}

header .container_header_menu ul {
    display: flex;
}

header .container_header_menu ul li {
    display: block;
    margin-right: 1rem;
}


header .container_header_menu ul li a {
    padding: .5rem;
    text-decoration: none;
}

header .container_header_menu ul li a:hover {
    text-decoration: underline;
    transition: all 0.5s ease;
}

header .container_header_search {}